<h2>  <%= @list.name %> </h2>

<button class="btn-lg btn-danger" id="new-list-button" type="button">
  <div id="new-list-text">Add Item</div>
  <div id="never-mind-text" style="display:none">Never Mind</div>
</button>

<div id="new-list-form" style="display:none">

  <%= render 'items/form' %>

</div>

<table class='note-pad table'>
	<tbody>
	
		<%= render 'items/list' %>

	 </tbody>
	</table>





<%= link_to 'Change List Name', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
