<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>List:</strong>
  <%= @item.list.name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<% if @item.list.nil? %>
	<%= link_to 'Back', reviews_path %>
<% else %>
	<%= link_to 'Back', @item.list %>
<% end %>
